body {
    background-color: rgb(22, 4, 48);
    color: rgb(204, 199, 197);
    font-family: 'Righteous', cursive;;
    text-align: center;
}
/*==== HEADER CONTENT =====*/
#modal {
	background-color: rgba(0,0,0,0.4);
    display: none;
	height: 100%;
	left: 0;
	position: fixed;
    overflow: auto;
    top: 0;
	width: 100%;
	z-index: 1;
}
#modal-textbox {
	background-color: white;
    border: 2px solid rgb(250, 4, 217);
	border-radius: 20px;
    height: 400px;
    margin: 150px auto;
    padding: 20px;
    text-align: center;
    width: 550px;
}
#modal-footer {
    margin-top: 10px;
}
a {
    color:rgb(236, 6, 45);
    font-size: 24px;
    text-decoration: none;
}
.img-container {
    border: solid 2px blue;
    border-radius: 4px;
    height: 145px;
    margin: 0 auto;
    width:410px;
}
img {
    border: solid rgb(152, 191, 236) 3px;
    border-radius: 4px;
    height: 130px;
    margin-top: 4px;
}
.navigation {
    background-color: salmon;
    border: rgb(245, 244, 226) solid 3px;
    border-radius: 3px;
    color:aliceblue;
    margin-bottom: 0px;
    margin-top: 20px;
    opacity: 1;
    padding: 7px;
}


/*==== MAIN CONTENT of GAME =====*/
h1 {
    font-size: 50px;
    display: none;
    padding: 0;
    margin-bottom: -50px;
    margin-top: 20px;
}

.container {
    border: solid 3px blue;
    border-radius: 15px;
    height: 300px;
    margin: 0 auto;
    width: 90%;
}
.border {
    border: solid 2px rgb(4, 248, 248);
    border-radius: 15px;
    height: 270px;
    margin: 0 auto;
    margin-top: 12px;
    width: 95%;
}
.border2 {
    border: solid 1px rgb(243, 245, 248);
    border-radius: 15px;
    height: 240px;
    margin: 0 auto;
    margin-top: 12px;
    width: 95%;
}

#shape {    
    border: 2px solid white;
    border-radius: 6px;
    display: inline-block;
    height: 60%;
    margin: 50px 5px;
    width: 20%;
}

.color-one {
    background-color: #E64E46;
    opacity: .5;
    transition: opacity 0.3 ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;-moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
  
}

.color-two {
    background-color: #CAA638;
    opacity: .5;
    transition: opacity 0.3 ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;-moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}

.color-three {
    background-color: #2E7893;
    opacity: .5;
    transition: opacity 0.3 ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;-moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}

.color-four {
    background-color: #73BCAA;
    opacity: .5;
    transition: opacity 0.3 ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;-moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}

/*==== FOOTER CONTENT 
.color-one.light {
    opacity: 1;
}=====*/
.checker {
    background-color: salmon;
    border: rgb(245, 244, 226) solid 3px;
    border-radius: 3px;
    color:aliceblue;
    float: right; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin: 10px;
    margin-right: 50px;
    padding: 7px;
}
.reset {
    background-color: salmon;
    border: rgb(245, 244, 226) solid 3px;
    border-radius: 3px;
    color:aliceblue;
    float: left;
    margin: 10px;
    margin-left: 50px;
    padding: 7px;
}
p {
    margin-right: 10px;
    margin-top: 60px;
    text-align: right;
}